body {
    background-color: rgba($color: #ffffff, $alpha: 1.0);
    padding: 10px 25px;
}

.layout-containr {
    padding: 10px 25px;
}

.eddywally-logo {
    height: 100px;
    width: 100px;
    margin: 50px 50px 150px;
}

.layout-content {
    padding: 10px 25px;
    width: 100%;
    background-color: rgba($color: #c3dada, $alpha: 1.0);
}

.layout-sidebar-first {
    width: 30%;
    background-color: rgba($color: #ffffff, $alpha: 1.0)
}

#block-eddywally-branding {
    width: 40%;
    float: left;
}

#block-eddywally-main-menu {
    width: 40%;
    float: right;
    ul {
        margin: 20px 50px 20px 0; 
        list-style-type: none;
        padding: 0px;
        li {
            padding-left:14px;
            float: right;
            a {
                display: block;
            }
        }
    }
}

.subheader-right {
    text-align: right;
    float: right;
    margin: 20px;
    ul {
        list-style-type: none;
        margin: 20px 50px 20px 0; 
        li {
            font-size: 15px;
            padding-left: 18px;
            a {
                display: block;
            }
        }
    }
}
